Repository draco-china/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-error-on-unmatched-pattern, remark --quiet --output --, stylelint --fix --allow-empty-input, prettier --write, eslint --fix, prettier --parser=typescript --write

🔧 chore(project): Only supports ssr
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[lng]/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/middleware.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

🐛 fix(next.config): Fix Environment Loader
  next.config.mjs
Due: none

:bookmark: chore(release): v1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --no-error-on-unmatched-pattern, remark --quiet --output --

Notes added by 'git notes add'
  2d2760d98cc7b28d5d08a00cafabc5dec1f37dea
Due: none

🐛 fix(env): Fix Product Environment
  .env
  .env.development
  .gitignore
Due: none

📝 docs(readme.md): Update website preview address
  README.md
  README.zh-CN.md
  README.zh-TW.md
Due: prettier --write --no-error-on-unmatched-pattern, remark --quiet --output --

🐛 fix(layout): Fix language type
  src/app/[lng]/layout.tsx
Due: eslint --fix, prettier --parser=typescript --write

💄 style(page): Update page height
  src/app/[lng]/page.tsx
Due: eslint --fix, prettier --parser=typescript --write

Notes added by 'git notes add'
  69b38ba60144b91252ffcf2e008316164fc8f79d
Due: none

📝 docs(readme.md): Update website preview height
  README.md
  README.zh-CN.md
  README.zh-TW.md
Due: prettier --write --no-error-on-unmatched-pattern, remark --quiet --output --

💄 style(global): Update mode toggle and projects style
  next.config.mjs
  src/app/[lng]/layout.tsx
  src/app/[lng]/page.tsx
  src/app/[lng]/projects/loading.tsx
  src/app/[lng]/projects/page.tsx
  src/layout/header.tsx
  src/layout/scroll.tsx
  src/layout/switch-mode.tsx
  src/lib/site.ts
  src/stores/global.ts
Due: eslint --fix, prettier --parser=typescript --write

:bookmark: chore(release): v1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --no-error-on-unmatched-pattern, remark --quiet --output --

Notes added by 'git notes add'
  3e16b6b5af3e3bff6c832b6c4990387b3c158a41
Due: none

Create ci.yml
  .github/workflows/ci.yml
Due: none

Update CI workflow to allow manual triggering only
  .github/workflows/ci.yml
Due: none

Rename ci.yml to test.yml
  .github/workflows/test.yml
Due: none

Delete .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Create npm-grunt.yml
  .github/workflows/npm-grunt.yml
Due: none

Delete .github/workflows/npm-grunt.yml
  .github/workflows/npm-grunt.yml
Due: none

Path conditions:
  prettier --write --no-error-on-unmatched-pattern: (any of: *.json) or (any of: *.md)
  remark --quiet --output --: any of: *.md
  stylelint --fix --allow-empty-input: any of: *.{css,less}
  prettier --write: (any of: *.{css,less}) or (any of: *.{js,jsx})
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --parser=typescript --write: any of: *.{ts,tsx}
